.flex{
    display: flex;
}
.items-center{
    text-align: center;
}
.justify-center{
    justify-content: center;
}
.feature-products form .form-group input{
    height: 38px;
}
.feature-products form .form-group{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}